<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Pickup Calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="hold" updatedAt="28/08/2023" createdAt="24/08/2023" notes="nata jajan gacoan"  ></app-pickup-call-card>

  <app-pickup-call-card status="processing" updatedAt="28/06/2023" createdAt="24/05/2023" notes="nata jajan seblak"  ></app-pickup-call-card>

  <app-pickup-call-card status="finished" updatedAt="28/04/2023" createdAt="24/03/2023" value="Rp 150.000" ></app-pickup-call-card>

</ion-content>
