<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup Call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://cdn.discordapp.com/attachments/1067334492278235209/1145326467497078894/image.png"/>
  <ion-card>
    <ion-card-content>
      <p>Address: Jakal Km 5,4</p>
      <p>Complement: Caturtunggal</p>
      <p>Neighborhood: neighborhood</p>
      <p>Zip Code: 080808</p>
      <p>DI Yogyakarta - Sleman</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="tertiary">Create pickup call</ion-button>
</ion-content>
