<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Reciclica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list color="tertiary">
    <ion-item color="tertiary">
      <ion-avatar slot="start">
        <img src="https://cdn.discordapp.com/attachments/1067334492278235209/1145314173820084345/pas_foto_putih.jpg" />
      </ion-avatar>
      <ion-label>
        <h1>Saynata</h1>
        <p>Gathered: <span class="money">$ 15,00</span></p>
      </ion-label>
    </ion-item>
  </ion-list>

  <app-pickup-call-card status="hold" updatedAt="28/08/2023" createdAt="24/08/2023" notes="nata jajan gacoan"  >
    <ion-card-header header>
      <ion-card-subtitle>Last pickup call</ion-card-subtitle>
    </ion-card-header>
    <ion-button color="tertiary" fill="clear" size="full" (click)="goToPickupCalls()" footer>See All...</ion-button>
  </app-pickup-call-card>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="newPickupCall()">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
